@charset "utf-8";

body {
    /* background-image: url(""); */
    background-image: url(../images/bg/seoul/seoul-410264_1920.jpg);
}
/* main_header */
#main_header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
}
#main_header > #logo {
    float: left;
    padding-left: 40px;
}
#main_header #daytime_info {
    float: right;
    font-size: 22px;
    padding-right: 20px;
    position: relative;
    right: 50px;
    transition-duration: 1s;
    overflow: hidden;
}
#main_header #daytime_info .daytime {
    float: left;
}
#main_header #daytime_info #time {
    font-size: 32px;
    padding-left: 10px;
}

/* main_content */
#main_content {
    width: 100%;
    height: 630px;
}
#main_content > .inner {
    margin: 140px 50px;
}
#main_content > .inner .city_main {
    font-size: 10em;
}
#main_content > .inner .city_temp {
    font-size: 7em;
    line-height: 0px;
}
#main_content > .inner .city_icon {
    font-size: 6em;
    margin-left: 60px;
}
#main_content > .inner #etc {
    width: 360px;
    overflow: hidden;
    margin-top: 30px;
}
#main_content > .inner #etc .etc {
    width: 33.3%;
    float: left;
    font-size: 2.5em;
    text-align: center;
    border-right: 2px solid #fff;
}
#main_content > .inner #etc .etc:first-child {
    border-left: 2px solid #fff;
}
#main_content > .inner #etc .etc i {
    display: block;
}

/* side_city */
#side_city {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition-duration: 1s;
}
#side_city > button#arrow {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    background-color: rgba(255,255,255,0.5);
}
#side_city #city_list {
    margin: 100px 60px;
}
#side_city a.city_link {
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: block;
    text-align: center;
    font-size: 2.5em;
    overflow: hidden;
}
#side_city a.city_link:hover {

}
#side_city a.city_link .city {
    float: left;
}
#side_city a.city_link .temp {
    float: right;
}

/* main_footer */
#main_footer {
    margin-left: 50px;
    font-style: italic;
    height: 50px;
    line-height: 50px;
}


/* 미디어 쿼리 */

@media screen and (max-width: 767px) {

    /* main_header */
    #main_header {
        height: 200px;
        line-height: 50px;
        overflow: visible;
    }
    #main_header > #logo {
        float: none;
        margin-top: 30px;
    }
    #main_header #daytime_info {
        float: none;
        font-size: 2em;
        padding-right: 0px;
        left: 0;
        right: 0;
        padding-left: 40px;
        margin-top: 70px;
        overflow: visible;
    }
    #main_header #daytime_info .daytime {
        float: none;
    }
    #main_header #daytime_info #time {
        font-size: 2em;
        padding-left: 0px;
    }
    /* main_content */
    #main_content {
        height: 530px;
    }
    #main_content > .inner {
        margin: 40px 50px;
    }

    /* side_city */
    #side_city {
        width: 100%;
        height: 0;
        background-color: rgba(0,0,0,1);
    }
#side_city > button#arrow {
    position: fixed;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    background-color: rgba(255,255,255,0.5);
}
#side_city #city_list {
    margin: 100px 60px;
}
#side_city a.city_link {
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: block;
    text-align: center;
    font-size: 2.5em;
    overflow: hidden;
}
#side_city a.city_link:hover {

}
#side_city a.city_link .city {
    float: left;
}
#side_city a.city_link .temp {
    float: right;
}
    #city_list {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}

@media screen and (min-width: 1024px) {

}

